<%= form_for(employee, :html => { :class => 'form-horizontal'}) do |f| %>
    <% if employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

          <ul>
            <% employee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
          <div class="form-group">
            <%= f.label :first_name, class: 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name' %>
            </div>
          </div>


        <div class="form-group">
          <%= f.label :last_name, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name' %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :email, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Enter email address' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_name, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :user_name, class: 'form-control', placeholder: 'Enter Username' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :joining_date, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.date_select :joining_date, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :relieving_date, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.date_select :relieving_date, class: 'form-control', include_blank: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :emp_id, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :emp_id, class: 'form-control', placeholder: 'Enter employee id' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :emp_id, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :emp_id, class: 'form-control', placeholder: 'Enter employee id' %>
          </div>
        </div>

        <div class="actions">
          <div class="col-sm-offset-2 col-sm-4">
            <%= f.submit class: 'btn btn-info'%>
            <%= link_to 'Back', employees_path, class: 'btn btn-info' %>
          </div>
        </div>


        </div>
<% end %>
