<p id="notice"><%= notice %></p>

<h3>Employee details</h3>
<div class="container-fluid">

  <div class="form-group">
    <label class="control-label col-sm-2" for="First name">First name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.first_name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Last name">Last name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.last_name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Email">Email:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.email %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="User name">User name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.user_name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Joining date">Joining date:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.joining_date %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Relieving date">Relieving date:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.relieving_date %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Emp">Employee id:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.emp_id %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Citrix id">citrix_id:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.citrix_id %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Project id">Project id:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.project %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="manager">Manager:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.manager %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="citrix access">Citrix Access:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.citrix_access %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="admin access">Admin Access:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.admin_access %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="department">Department:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.department %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="document signed">Document Signed:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.document_signed %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="beachhead computrace">Beachhead and Computrace:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @employee.beachhead_computrace %></p>
    </div>
  </div>

  <table id="users-table" data-source="<%= user_nsm_asset_nsm_assets_path(format: :json, employee: @employee.id.to_s) %>" class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Operating System</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script>
      data_table();
  </script>


  <%= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-info' %>
<%= link_to 'Back', employees_path, class: 'btn btn-info' %>
</div>