<%= form_for(nsm_asset, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if nsm_asset.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(nsm_asset.errors.count, "error") %> prohibited this nsm_asset from being saved:</h2>

          <ul>
            <% nsm_asset.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
      <div class="form-group">
        <%= f.label :nsm_asset_type_id, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.collection_select :nsm_asset_type_id, NsmAssetType.all, :id, :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :code, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :code, class: 'form-control', placeholder: 'Enter code here' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :nsm_tag, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :nsm_tag, class: 'form-control', placeholder: 'Enter asset tag' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :computer_name, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :computer_name, class: 'form-control', placeholder: 'Enter computer name' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :service_tag, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :service_tag, class: 'form-control', placeholder: 'Enter service tag' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :mac_id, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :mac_id, class: 'form-control', placeholder: 'Enter mac id' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :antivirus_check, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :antivirus_check, class: 'form-control', placeholder: 'Enter antivirus check' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :memory, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :memory, class: 'form-control', placeholder: 'Enter memory details' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :operating_system, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :operating_system, class: 'form-control', placeholder: 'Enter OS details' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :invoice_number, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :invoice_number, class: 'form-control', placeholder: 'Enter Invoice Number' %>
        </div>
      </div>

      <div class="actions">
        <div class="col-sm-offset-2 col-sm-4">
          <%= f.submit class: 'btn btn-info' %>
          <%= link_to 'Back', nsm_assets_path, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
<% end %>
