<p id="notice"><%= notice %></p>

<div class="container">
<h3>Asset details</h3>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Nsm asset">Nsm asset:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.nsm_asset_type_id %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Code">Code:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.code %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Nsm Tag">Tag:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.nsm_tag %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Computer Name">Computer Name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.computer_name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Service Tag">Service Tag:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.service_tag %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Mac Id">Mac Id:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.mac_id %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Antivirus Check">Antivirus Check:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.antivirus_check %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Memory">Memory:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.memory %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Operating system">Operating System:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.operating_system %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="Invoice number">Invoice Number:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @nsm_asset.invoice_number %></p>
    </div>
  </div>


<%= link_to 'Edit', edit_nsm_asset_path(@nsm_asset), class: 'btn btn-info' %>
<%= link_to 'Back', nsm_assets_path, class: 'btn btn-info' %>
</div>