<p id="notice"><%= notice %></p>

<p>
  <strong>Nsm asset:</strong>
  <%= @nsm_asset.nsm_asset_type_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @nsm_asset.code %>
</p>

<%= link_to 'Edit', edit_nsm_asset_path(@nsm_asset) %> |
<%= link_to 'Back', nsm_assets_path %>
