<h3>Nsm Asset Types</h3>

<div class="container-fluid">
  <table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nsm_asset_types.each do |nsm_asset_type| %>
      <tr>
        <td><%= link_to nsm_asset_type.name, nsm_asset_type %></td>
        <td><%= nsm_asset_type.description %></td>
        <td><%= link_to 'Edit', edit_nsm_asset_type_path(nsm_asset_type), class: 'btn btn-default'  %></td>
        <td><%= link_to 'Remove', nsm_asset_type, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Nsm Asset Type', new_nsm_asset_type_path, class: 'btn btn-info'%>
</div>