<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nsm_asset_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nsm_asset_type.description %>
</p>

<%= link_to 'Edit', edit_nsm_asset_type_path(@nsm_asset_type) %> |
<%= link_to 'Back', nsm_asset_types_path %>
